ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 10px ;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-right: 50px;
  width: 80px;
  color: black;
}

li a:hover:not(.active) {
  //background-color: #111;
}

.active {
  margin-left: 200px;
}

