@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.container{
    text-align: center;
    height: 100vh;
    padding-top: 200px;
    font-family: 'Roboto', sans-serif;
}

.name{
}

.pic{
    height: 200px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.box{
text-align: left;
padding-left: 25%;
}
