.width{
    width: 50px;
    text-align: center;
}

.product-title{
    font-weight: 700;
}

.products{
    margin-left: 20%;
    margin-right: 20%;
}

@media only screen and (max-width: 600px) {
    .products{
        margin-left: 0%;
        margin-right: 0%;
    }
  }