.title{
  width: 100%;
  padding-top: 100px;
  text-align: center;
  color: white;
  background: #3f51b5;
  height: 400px;
}

.search{
  padding: 100px;
  text-align: center;
}

.search-title{
}

.title-text{
  font-weight: bold;
  font-size: 60px;
  padding-top: 50px;
}

.search-button{
  margin-left: 10px;
}
